$font-stack: 'Poppins', sans-serif;
$backgraund: #ffffff;
$button1: #4d00dd;
$button1-hover: #000000;
$button1-active: #000000;
$button2: #ffffff;
$button2-hover: #4d00dd;
$button2-active: #4d00dd;
$buttonHeart: #ffffff;
$buttonHeart-hover: #4d00dd;
$buttonHeart-active: #4d00dd;
$categories:#6d6d6d;
$categories-hover:#4d00dd;
$categories-active:#4d00dd;
$text-01:#000000;
$text-02:#6d6d6d;
$text-03:#4d00dd;