@use "globals.scss";


body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    line-height: 1.5;
    margin: 0;
}

.container {
    max-width: 1440px;
    width: 90%;
    min-width: 93px;
    padding: 20px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header {  
    
}

.nav {
    
    
}
.button {
    display: flex; 
    flex-direction: row;

    &__main {
        list-style-type: none;
        text-decoration: none;
        margin-right: 100px;
    }

}
